$spaceAmounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, auto, full);

@each $space in $spaceAmounts {
  @if $space == full {
    .w-#{$space} {
      width: 100%;
    }

    .w-#{$space}\! {
      width: 100% !important;
    }

    .h-#{$space} {
      height: 100%;
    }
  } @else if $space == auto {
    .m-#{$space} {
      margin: #{$space};
    }

    .mx-#{$space} {
      margin-left: #{$space};
      margin-right: #{$space};
    }

    .my-#{$space} {
      margin-top: #{$space};
      margin-bottom: #{$space};
    }

    .ml-#{$space} {
      margin-left: #{$space};
    }

    .mr-#{$space} {
      margin-right: #{$space};
    }

    .mt-#{$space} {
      margin-top: #{$space};
    }

    .mb-#{$space} {
      margin-bottom: #{$space};
    }

    .top-#{$space} {
      top: #{$space};
    }

    .right-#{$space} {
      right: #{$space};
    }

    .bottom-#{$space} {
      bottom: #{$space};
    }

    .left-#{$space} {
      left: #{$space};
    }
  } @else {
    .m-#{$space} {
      margin: #{$space}rem;
    }

    .mx-#{$space} {
      margin-left: #{$space}rem;
      margin-right: #{$space}rem;
    }

    .my-#{$space} {
      margin-top: #{$space}rem;
      margin-bottom: #{$space}rem;
    }

    .ml-#{$space} {
      margin-left: #{$space}rem;
    }

    .mr-#{$space} {
      margin-right: #{$space}rem;
    }

    .mt-#{$space} {
      margin-top: #{$space}rem;
    }

    .mb-#{$space} {
      margin-bottom: #{$space}rem;
    }

    .p-#{$space} {
      padding: #{$space}rem;
    }

    .px-#{$space} {
      padding-left: #{$space}rem;
      padding-right: #{$space}rem;
    }

    .py-#{$space} {
      padding-top: #{$space}rem;
      padding-bottom: #{$space}rem;
    }

    .pl-#{$space} {
      padding-left: #{$space}rem;
    }

    .pr-#{$space} {
      padding-right: #{$space}rem;
    }

    .pt-#{$space} {
      padding-top: #{$space}rem;
    }

    .pb-#{$space} {
      padding-bottom: #{$space}rem;
    }

    .w-#{$space} {
      width: #{$space}rem;
    }

    .h-#{$space} {
      height: #{$space}rem;
    }

    .min-h-#{$space} {
      min-height: #{$space}rem;
    }

    .top-#{$space} {
      top: #{$space}rem;
    }

    .right-#{$space} {
      right: #{$space}rem;
    }

    .bottom-#{$space} {
      bottom: #{$space}rem;
    }

    .left-#{$space} {
      left: #{$space}rem;
    }

    .-top-#{$space} {
      top: -#{$space}rem;
    }

    .-right-#{$space} {
      right: -#{$space}rem;
    }

    .-bottom-#{$space} {
      bottom: -#{$space}rem;
    }

    .-left-#{$space} {
      left: -#{$space}rem;
    }
  }
}
