$radii: (
  "none": 0,
  "sm": 2px,
  "md": 6px,
  "lg": 8px,
  "xl": 12px,
  "2xl": 16px,
  "3xl": 24px,
  "full": 9999px,
);

.rounded {
  border-radius: 4px;
}

.rounded-t {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rounded-b {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-l {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rounded-r {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-tl {
  border-top-left-radius: 4px;
}

.rounded-tr {
  border-top-right-radius: 4px;
}

.rounded-bl {
  border-bottom-left-radius: 4px;
}

.rounded-br {
  border-bottom-right-radius: 4px;
}

@each $prop, $val in $radii {
  .rounded-#{$prop} {
    border-radius: $val;
  }

  .rounded-t-#{$prop} {
    border-top-left-radius: $val;
    border-top-right-radius: $val;
  }

  .rounded-b-#{$prop} {
    border-bottom-left-radius: $val;
    border-bottom-right-radius: $val;
  }

  .rounded-l-#{$prop} {
    border-top-left-radius: $val;
    border-bottom-left-radius: $val;
  }

  .rounded-r-#{$prop} {
    border-top-right-radius: $val;
    border-bottom-right-radius: $val;
  }

  .rounded-tl-#{$prop} {
    border-top-left-radius: $val;
  }

  .rounded-tr-#{$prop} {
    border-top-right-radius: $val;
  }

  .rounded-bl-#{$prop} {
    border-bottom-left-radius: $val;
  }

  .rounded-br-#{$prop} {
    border-bottom-right-radius: $val;
  }
}

.border {
  border: 1px solid var(--ion-color-step-500, gray);
}

.border-light {
  border: 1px solid var(--ion-color-light);
}

.border-b {
  border-bottom: 1px solid var(--ion-color-step-500, gray);
}



.border-l {
  border-left: 1px solid var(--ion-color-step-500, gray);
}

.border-r {
  border-right: 1px solid var(--ion-color-step-500, gray);
}

.border-t {
  border-top: 1px solid var(--ion-color-step-500, gray);
}

.border-b-none {
  border-bottom: 0;
}

.border-l-none {
  border-left: 0;
}

.border-r-none {
  border-right: 0;
}

.border-t-none {
  border-top: 0;
}