$displays: (
  block: block,
  inline-block: inline-block,
  inline: inline,
  flex: flex,
  inline-flex: inline-flex,
  grid: grid,
  inline-grid: inline-grid,
  contents: contents,
  list-item: list-item,
  hidden: none,
);

@each $property, $value in $displays {
  .#{$property} {
    display: $value;
  }
}
