.tooltip {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(8, 11, 15, 0.55);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 5px 10px;
  border-radius: 8px;
  position: relative;
  ::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.05) transparent transparent transparent;
  }
}
