@use "utils/space";
@use "utils/font";
@use "utils/display";
@use "utils/colors";
@use "utils/flex";
@use "utils/border";
@use "utils/position";
@use "utils/shadow";

h1,
h2,
h3,
h4,
h5,
h6,
ion-card-title,
ion-list-header {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ion-back-button {
  --color: var(--ion-color-dark-shade);
}

ion-header ion-toolbar:not(ion-menu *) {
  --padding-start: 16px;

  ion-menu-button {
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-avatar,
  ion-thumbnail {
    width: 32px;
    height: 32px;
  }
}

ion-tab-button ion-icon {
  font-size: 22px;
}
ion-card {
  border-radius: 16px;
  ion-card-header ion-button {
    --padding-start: 0;
    --padding-end: 0;
    margin-right: -8px;
  }
}

.bubble {
  background-color: var(--ion-card-background);
  padding: 16px;
  border-radius: 32px 32px 32px 0;
  position: relative;

  ion-note {
    color: var(--ion-color-step-800);
  }

  ::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: var(--ion-card-background) transparent transparent
      var(--ion-card-background);
    border-bottom-left-radius: 2px;
  }
}

ion-popover {
  ion-list {
    background-color: transparent !important;
    ion-item {
      --background: transparent;
    }
  }
}

ion-popover::part(content) {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(8, 11, 15, 0.92);
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.custom-card {
  padding: 32px 16px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(8, 11, 15, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 8px;

  ion-button {
    margin-top: 16px;
    ion-label {
      margin-left: -16px;
    }
  }
}

ion-item.input {
  &::part(native) {
    border-radius: 10px;
    
  }
  
  &.checkbox::part(native) {
    padding-left: 0;
  }

  &.item-label-floating {
    &.with-focus, &.item-has-focus, &.item-has-value {
      .native-input {
        padding-bottom: 0;
      }
    }
  }
  

  

  &:not(.item-has-focus) {
    ion-label {
      color: var(--ion-color-step-700) !important;
    }
  }
}

// Tag Input classes
ion-item.tags {
  &::part(native) {
    flex-direction: column;
  }
  &.item-has-value::part(native), &.item-has-focus::part(native) {
    padding-bottom: 10px;
  }
}

.modal-form ion-item.input {
  --background: transparent;
  --ion-item-background: var(--ion-background-color);
}

ion-list.bg-transparent {
  ion-item {
    --background: transparent;
  }
}

// Circular progress bar
.CircularProgressbar {
  height: 45px;
  
  .CircularProgressbar-text {
    font-size: 30px;
    fill: var(--ion-color-primary);
  }

  .CircularProgressbar-path {
    stroke: var(--ion-color-primary);
  }

  .CircularProgressbar-trail {
    stroke: var(--ion-color-light);
  }
}

// HACK: Fix Action sheet cancel btn primary color
.action-sheet-group-cancel .action-sheet-button.sc-ion-action-sheet-ios {
  color: var(--ion-color-dark, #fff);
}

ion-modal ion-item {
  --background: transparent;
}

.react-tel-input {
  .special-label {
    background-color: #000;
  }

  &:hover {
    .special-label {
      color: var(--ion-color-primary);
    }

    .form-control {
      border-color: var(--ion-color-primary);
    }
  }

  .form-control {
    border-radius: 10px;
    width: 100%;
    background: transparent;
    border: 1px solid var(--ion-color-step-500, gray);

    &:focus {
      box-shadow: 0 0 0 1px var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
    }
  }

  .country-list {
    background: rgba(var(--ion-background-color-rgb, 255, 255, 255), 0.9);
    backdrop-filter: saturate(180%) blur(20px);

    .country {
      .dial-code {
        color: var(--ion-color-step-500);
      }

      &.highlight {
        background-color: var(--ion-color-primary);
        .dial-code {
          color: var(--ion-color-step-700);
        }
      }
    }
  }
}