@use "utils/colors";
@use "utils/animations";

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h3,
h4,
h5,
h6,
ion-card-title,
ion-list-header {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

ion-back-button {
  --color: var(--ion-color-dark-shade);
}

ion-header ion-toolbar:not(ion-menu *) {
  --padding-start: 16px;

  ion-menu-button {
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-avatar,
  ion-thumbnail {
    width: 32px;
    height: 32px;
  }
}

ion-tab-button ion-icon {
  font-size: 22px;
}
ion-card {
  border-radius: 16px;
  ion-card-header ion-button {
    --padding-start: 0;
    --padding-end: 0;
    margin-right: -8px;
  }
}

.bubble {
  background-color: var(--ion-card-background);
  padding: 16px;
  border-radius: 32px 32px 32px 0;
  position: relative;

  ion-note {
    color: var(--ion-color-step-800);
  }

  ::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: var(--ion-card-background) transparent transparent
      var(--ion-card-background);
    border-bottom-left-radius: 2px;
  }
}

ion-popover {
  ion-list {
    background-color: transparent !important;
    ion-item {
      --background: transparent;
    }
  }
}

ion-popover::part(content) {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(8, 11, 15, 0.92);
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.custom-card {
  padding: 32px 16px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(8, 11, 15, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 8px;

  ion-button {
    margin-top: 16px;
    ion-label {
      margin-left: -16px;
    }
  }
}

ion-item.input {
  &::part(native) {
    border-radius: 10px;  
  }

  &.ion-focused {
    &::part(native) {
      border-color: var(--ion-color-primary);
    }
  }
  
  &.checkbox::part(native) {
    padding-left: 0;
    --inner-padding-end: 0;
  }

  &.item-label-floating {
    &.with-focus, &.item-has-focus, &.item-has-value {
      .native-input {
        padding-bottom: 0;
      }
    }
  }

  &:not(.item-has-focus) {
    ion-label {
      color: var(--ion-color-step-700) !important;
    }
  }
}

// Tag Input classes
ion-item.tags {
  &::part(native) {
    flex-direction: column;
  }
  &.item-has-value::part(native), &.item-has-focus::part(native) {
    padding-bottom: 10px;
  }

  &:not(.item-has-focus) {
    .native-input.sc-ion-input-md {
      height: 10px;
    }
  }
}

ion-item {
  ion-label {
    // height: 18px;
    line-height: normal;
  }
  ion-input {
    input {
      line-height: normal;
    }
  }
  &.px-0 {
    &::part(native) {
      --padding-start: 0;
      --padding-end: 0;
      --inner-padding-end: 0;
    }
  }
}

ion-toggle {
  width: 48px;
  height: 28px;
  --handle-width: 24px;
}

.item-disabled {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}

.modal-form ion-item.input {
  --background: transparent;
  --ion-item-background: var(--ion-background-color);
}

ion-list.bg-transparent {
  ion-item {
    --background: transparent;
  }
}

.accordion-header ion-checkbox {
  --background: var(--ion-color-step-50);
}

// Circular progress bar
.CircularProgressbar {
  height: 45px;
  
  .CircularProgressbar-text {
    font-size: 30px;
    fill: var(--ion-color-primary) !important;
  }

  .CircularProgressbar-path {
    stroke: var(--ion-color-primary) !important;
  }

  .CircularProgressbar-trail {
    stroke: var(--ion-color-light) !important;
  }
}

// HACK: Fix Action sheet cancel btn primary color
ion-action-sheet, .sc-ion-action-sheet-ios-h  {
  --button-color: var(--ion-color-dark, #fff);
}

ion-modal ion-item {
  --background: transparent;
}

ion-item-divider {
  --inner-padding-end: 0;
  ion-button {
    --padding-end: 0;
  }
}

.react-tel-input {
  .special-label {
    background-color: #000 !important;
  }

  &:hover {
    .special-label {
      color: var(--ion-color-primary) !important;
    }

    .form-control {
      border-color: var(--ion-color-primary) !important;
    }
  }

  .form-control {
    border-radius: 10px !important;
    width: 100% !important;
    background: transparent !important;
    border: 1px solid var(--ion-color-step-500, gray) !important;

    &:focus {
      box-shadow: 0 0 0 1px var(--ion-color-primary) !important;
      border: 1px solid var(--ion-color-primary) !important;
    }
  }

  .country-list {
    background: rgba(var(--ion-background-color-rgb, 255, 255, 255), 0.9) !important;
    backdrop-filter: saturate(180%) blur(20px) !important;

    .country {
      .dial-code {
        color: var(--ion-color-step-500) !important;
      }

      &.highlight {
        background-color: var(--ion-color-primary) !important;
        .dial-code {
          color: var(--ion-color-step-700) !important;
        }
      }
    }
  }
}

#home {
  ion-thumbnail {
    --size: 40px;
    --border-radius: 9999px;
  }
}

#map-container {
  .leaflet-control-attribution {
    background-color: var(--ion-color-light);
    color: rgba(221, 221, 221, 0.3);
    a {
      color: rgba(221, 221, 221, 0.57);
    }
  }
}

// :root {
//   --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(0deg) saturate(0.8) brightness(0.7);
// }

// @media (prefers-color-scheme: dark) {
//   .leaflet-tile {
//       filter:var(--map-tiles-filter, none);
// }
// }

// Swiper styles
.swiper-pagination {
  bottom: 20px !important;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--ion-color-step-600, #666666) !important;
}

.qty {
  /* Chrome, Safari, Edge, Opera */
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
  
  --padding-end: 0;
}